.bigdiv {
    display: flex;
    justify-content: center;
}

/*Container for Navbar links*/
.navbar {
    display: none;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: column;
    min-width: 30vh;
    border-radius: 4px;
    border-top: none;


}

/*every link*/
.navLink {
    color: #edf6f9;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.4s ease-in-out;
    margin-top: 2vh;
    animation: fadingin 0.2s ease-in-out;

}

.navLink:hover {
    color: #90b7c4;
    text-decoration: none;
    font-weight: 500;

}

/* Styles for dropdown */
.buttonmanu {
    width: 6vh;
    background: none;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;

}

.buttonmanu:hover {
    background-color: #90b7c4;

}

@keyframes fadingin {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1
    }

}




@media screen and (min-width: 400px) {


    .buttonmanu {
        display: none;

    }

    /*Container for Navbar links*/
    .navbar {
    
        justify-content: center;
        justify-content: space-around;
        font-size: 1.1rem;
        display: flex !important;


    }

    /*every link*/
    .navLink {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

}

@media screen and (min-width: 500px) {
    .navbar {
        width: 50vh;


    }

    .bigdiv {
        display: flex;
        justify-content: center;
    }




}